.color-picker {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(100% - 100px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

fieldset {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 8px 13px;
}

.react-colorful {
  height: 100px !important;
  width: 100% !important;
  max-width: 170px !important;
}
.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.react-colorful__pointer {
  width: 20px;
  height: 20px;
}

.react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}
